.buttons{
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 85px;

    @media screen and (min-width: 992px) {
       

      }
    
   

    &__small{
        margin-right: 12px;
        background-color: #1216199E;
        border-radius: 80px;
        -webkit-border-radius: 80px;
        -moz-border-radius: 80px;
        -ms-border-radius: 80px;
        -o-border-radius: 80px;
    }

    &__medium{
        background-color: $nickel;
        border-radius: 80px;
        -webkit-border-radius: 80px;
        -moz-border-radius: 80px;
        -ms-border-radius: 80px;
        -o-border-radius: 80px;
    }



}