.footer{
    height: 206px;
    background-color: $eerie-black;
    display: flex;
    align-items: center;
    justify-content: center;

   


    &__img{
        width: 122px;
      
        
    }
}