.a {
  color: #FFF;
}

body {
  font-family: "playfair display, serif";
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #E56353;
}

.hero-section {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .hero-section {
    height: 100vh;
  }
}
.hero-section__img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .hero-section__img {
    width: 100%;
    max-height: 100vh;
    height: auto;
  }
}
.hero-section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  .hero-section__title {
    font-size: 70px;
  }
}
.hero-section__icon {
  color: #FFF;
  position: absolute;
  top: 80%;
  left: 50%;
}

.content {
  padding: 80px 104px 80px 100px;
  text-align: left;
  letter-spacing: 0.63px;
  border-bottom: solid 1px #6C6E70;
}
.content__title {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 74px;
}
.content__text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

#text-color {
  color: #D76C69;
}

.author {
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.author__img--border {
  width: 180px;
  height: 177px;
  border: 1px solid #6C6E70;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  text-align: center;
}
.author__list--border {
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.pagination {
  background-color: #FFF;
  height: 134px;
  justify-content: space-around;
  align-items: center;
}
.pagination__list {
  margin: 0;
  padding: 47px 0;
  font-size: 16px;
}
.pagination__list--border {
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.footer {
  height: 206px;
  background-color: #121619;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__img {
  width: 122px;
}

.navbarblog {
  display: flex;
  height: 96px;
  background-color: #121619;
}
.navbarblog__logo {
  width: 78px;
  height: 46px;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 130px;
  margin-top: 27px;
}

.navbar-collapse {
  justify-content: end;
  margin-right: 182px;
}
.navbar-collapse__item {
  color: #ffffff;
}

.active {
  color: #DE8684;
  display: block;
}

/*# sourceMappingURL=styles.css.map */
