.a {
  color: #FFF;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

body {
  font-family: "Roboto, sans-serif";
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.buttons {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 85px;
}
.buttons__small {
  margin-right: 12px;
  background-color: #1216199E;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}
.buttons__medium {
  background-color: #6C6E70;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.hero-section {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .hero-section {
    height: 100vh;
  }
}
.hero-section__img {
  width: 100%;
  height: 640px;
}
@media screen and (min-width: 992px) {
  .hero-section__img {
    width: 100%;
    height: 702px;
  }
}
.hero-section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  .hero-section__title {
    font-size: 70px;
  }
}
.hero-section__icon {
  color: #FFF;
  position: absolute;
  top: 90%;
  left: 50%;
}

.content {
  text-align: left;
  letter-spacing: 0.63px;
  border-bottom: solid 1px #6C6E70;
  margin-bottom: 72px;
}
@media screen and (min-width: 992px) {
  .content {
    padding: 0px 0 80px 100px;
    text-align: left;
    letter-spacing: 0.63px;
    border-bottom: solid 1px #6C6E70;
  }
}
.content__title {
  font-family: "Playfair Display", serif;
  padding: 47px 50px;
  font-weight: 400;
  font-family: 16px;
}
@media screen and (min-width: 992px) {
  .content__title {
    font-size: 18px;
    font-weight: 300;
    padding: 74px 20px 74px 20px;
  }
}
.content__text {
  color: #222323;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0 50px;
}
@media screen and (min-width: 992px) {
  .content__text {
    padding: 0 20px;
  }
}

#text-color {
  color: #D76C69;
  text-decoration: none;
}

.author {
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 62px;
}
.author__img--border {
  width: 180px;
  height: 177px;
  border: 1px solid #6C6E70;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  text-align: center;
}
.author__list--border {
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}
.author__name--style {
  font-family: "Playfair Display", serif;
  color: #121619;
  font-size: 30px;
  font-weight: 900;
  padding: 0 0px;
}
.author__website--style {
  color: #D76C69;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
}
.author__paragraph--style {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6C6E70;
}

.pagination {
  background-color: #FFF;
  height: 134px;
  justify-content: space-around;
  align-items: center;
}
.pagination__list {
  margin: 0;
  padding: 47px 0;
  font-size: 16px;
}
.pagination__list--border {
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.pagination__list--border__list--item3 {
  background-color: #6C6E70;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #D76C69;
}

.footer {
  height: 206px;
  background-color: #121619;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__img {
  width: 122px;
}

.navbarblog {
  display: flex;
  height: 96px;
  background-color: #121619;
}
.navbarblog__logo {
  width: 78px;
  height: 46px;
  align-items: flex-start;
  margin-left: 50px;
}
@media screen and (min-width: 992px) {
  .navbarblog__logo {
    align-items: center;
    margin-bottom: 24px;
    margin-left: 130px;
    margin-top: 27px;
  }
}

.navbar-collapse {
  justify-content: end;
  margin-right: 182px;
}
.navbar-collapse__item {
  color: #ffffff;
}

.active {
  color: #de8684;
  display: block;
}

/*# sourceMappingURL=styles.css.map */
