//Colors Scheme
$white: #FFF;
$platinum: #E6E7E7;
$ligth-gray: #D1D1D1;
$fuzzy-wuzzy:#E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

// Typefaces
$roboto: 'Roboto', sans-serif; 
$playfair-display: 'Playfair Display', serif;

//Font Sizes
$xx-large: 70px; 
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$xsmall: 12px;

// Font Weight
$regular: 400;
$light: 300;
$black-italic: 900;
